*{
    background-color: rgb(152, 13, 152);
}
html{
    color: white;
}
#fname,#sname, #year, #email,#id,#tel,#nationality,#course {
    background-color: white;
}
#logo{
    height: 200;
    width: 50%;
    text-align: center;
}
.logo{
    text-align: center;
}
fieldset{
    background-color: purple;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}
#java, #html,#css{
    text-align:center;
    height: 400px;
    width: 1000px;

  

}
h1, h2{
    text-align: center;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  max-height: 250px;
  
  position: relative;
  margin-bottom: 150px ;
  margin-left: 120px;
  text-align: center;
 
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 10px;
  position: absolute;
  bottom: 1px;
  width: 50%;
  text-align: center;
  margin: 40,0;
}





.dot {
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #f4edf1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.active {
  background-color: #be279e;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 360px) {
  .text {font-size: 11px}
}
#unilink{
  color: whitesmoke;
}

